<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.lyq1996.X-Monitor.helper</key>
		<string>identifier "com.lyq1996.X-Monitor.helper" and anchor apple generic and certificate leaf[subject.CN] = "Apple Development: lyq123233@163.com (JN5879L29C)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</dict>
</dict>
</plist>
